@include-when-export url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);
@include-when-export url(https://fonts.googleapis.com/css?family=Raleway:600,400&subset=latin,latin-ext);

@charset "UTF-8";
@font-face {
	font-family: 'TeXGyreAdventor';
	font-style: normal;
	font-weight: normal;
	src: url(./gothic/texgyreadventor-regular.otf);
}
@font-face {
	font-family: 'TeXGyreAdventor';
	font-style: normal;
	font-weight: bold;
	src: url(./gothic/texgyreadventor-bold.otf);
}
@font-face {
	font-family: 'TeXGyreAdventor';
	font-style: italic;
	font-weight: normal;
	src: url(./gothic/texgyreadventor-italic.otf);
}
@font-face {
	font-family: 'TeXGyreAdventor';
	font-style: italic;
	font-weight: bold;
	src: url(./gothic/texgyreadventor-bolditalic.otf);
}

:root {
	--window-border: none;
	--typora-center-window-title: true;
	--active-file-bg-color: #f3f3f3;
	--bg-color: #fcfcfc;
	--control-text-color: #777;
}

html {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: 16px;
	margin: 0px;
	padding: 0px 30px;  /*add padding*/
	height: auto;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 1rem;
	line-height: 1.42857;
	overflow-x: hidden;
	background: inherit;
	tab-size: 4;
	max-width: 914px;
	text-align: justify;
}

html,
body {
	background: #fcfcfc;
	font-family: 'TeXGyreAdventor', "Century Gothic", "Microsoft YaHei Light", 'Yu Gothic', 'Raleway', "STHeiti", sans-serif;
	font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #111;
	font-family: 'TeXGyreAdventor', "Century Gothic", "Microsoft YaHei Light", 'Yu Gothic', 'Ubuntu', "STHeiti", sans-serif;
}

h1:first-child {
	margin-top: 2.75rem;
}
h2:first-child {
	margin-top: 1.75rem;
}
h3:first-child {
	margin-top: 1rem;
}
h4:first-child {
	margin-top: 0.5rem;
}
h1 {
	font-weight: normal;
	line-height: 4rem;
	margin: 0 0 1.75rem;
	padding: 20px 30px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 4rem;
}
h2 {
	font-weight: normal;
	line-height: 3rem;
	margin: 0 0 1.9375rem;
	padding: 0 30px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 3rem
}
h3 {
	font-weight: normal;
}
h4 {
	font-weight: normal;
}
h5 {
	font-size: 1.125rem;
	font-weight: normal;
}
h6 {
	font-size: 1rem;
	font-weight: bold;
}
p {
	color: #111;
	font-size: 1rem;
	line-height: 1.75rem;
	margin: 0 0 1.25rem;
}

@media screen and (max-width: 48em) {
	blockquote {
		margin-left: 1rem;
		margin-right: 0;
		padding: 0.5em;
	}
	.h1,
	h1 {
		font-size: 2.827rem;
	}
	.h2,
	h2 {
		font-size: 1.999rem;
	}
	.h3,
	h3 {
		font-size: 1.413rem;
	}
	.h4,
	h4 {
		font-size: 1.250rem;
	}
	.h5,
	h5 {
		font-size: 1.150rem;
	}
	.h6,
	h6 {
		font-size: 1rem;
	}
}


a,
.md-def-url {
	color: #990000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
table {
	margin-bottom: 20px
}
table th,
table td {
	padding: 8px;
	line-height: 1.25rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}
table th {
	font-weight: bold
}
table thead th {
	vertical-align: bottom
}
table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0
}
table tbody+tbody {
	border-top: 2px solid #ddd
}
pre {
	border: 1px solid #ccc;
}
code, .md-fences {
	padding: .5em;
	/* background: #f0f0f0; */
	padding: .1em;
	font-size: 0.9em;
	font-family: var(--monospace);
	margin-left: 0.2em;
	margin-right: 0.2em;
}


/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .task-list-item input:before {
    	margin-top: -0.2rem;
    }

    .task-list-item input:checked:before,
	.task-list-item input[checked]:before {
		margin-top: -0.2rem;
	}
}

blockquote {
	margin: 0 0 1.11111rem;
	padding: 0.5rem 1.11111rem 0 1.05556rem;
	border-left: 1px solid gray;
}
blockquote,
blockquote p {
	line-height: 1.6;
	color: #6f6f6f;
}
#write pre.md-meta-block {
	min-height: 30px;
	background: #f8f8f8;
	padding: 1.5em;
	font-weight: 300;
	font-size: 1em;
	padding-bottom: 1.5em;
	padding-top: 3em;
    margin-top: -1.5em;
	color: #999;
	
	width: 100vw;
	max-width: calc(100% + 60px);
	margin-left: -30px;
	border-left: 30px #f8f8f8 solid;
	border-right: 30px #f8f8f8 solid;
}
p.mathjax-block,
.mathjax-block {
	padding-bottom: 0;
}
.mathjax-block>.code-tooltip {
	bottom: 5px;
	box-shadow: none;
}
.md-image>.md-meta {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.md-image>img {
	margin-top: 2px;
}
.md-image>.md-meta:first-of-type:before {
	padding-left: 4px;
}


/* Modify list display */

li, li>p {
	margin: 0.8% 0px;
	position: relative
}

ul ul>li:first-child {
	margin-top: 1.2%
}

ul>li:last-child {
	margin-bottom: 1.6%;
}