/*
    visualization.css - the main css for d3 visualization
*/

.figBox {
    display: flex; /*applies the flexbox display property*/
    justify-content: center;
}

.svgFig {
    width: 720px;
    height: 480px;
    /* background-color: black; */
}